@media screen {
  main {
    width: -moz-fit-content;
    width: fit-content;
    height: 100vh;
    margin: 0 auto;
  }
  main .contents__wrapper .title__outer {
    padding: 4vw;
  }
  main .contents__wrapper .title__outer h1 {
    font-size: 4.2666666667vw;
    font-weight: bold;
    text-align: center;
  }
  main .contents__wrapper .contents {
    margin: 0 auto;
    background-color: lightblue;
    width: 90%;
    height: 70vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 5%;
  }
  main .contents__wrapper .contents .msg {
    padding: 2vw;
    width: 75%;
    height: -moz-fit-content;
    height: fit-content;
    background-color: #fff;
    border-radius: 2vw;
    margin-left: 85%;
    font-size: 2.1333333333vw;
    line-height: 1.5;
    position: relative;
  }
  main .contents__wrapper .contents .msg p:nth-of-type(2) {
    margin-top: 4vw;
  }
  main .contents__wrapper .contents .msg:not(.msg:first-of-type) {
    margin-top: 4vw;
  }
  main .contents__wrapper .contents .msg:not(.msg:nth-of-type(even)) {
    margin-left: 0;
  }
  main .contents__wrapper .contents .msg:not(.msg:nth-of-type(even))::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: -24px;
    border: 12px solid transparent;
    border-right: 18px solid #fff;
    transform: rotate(-22.5deg);
  }
  main .contents__wrapper .contents .msg::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 48px;
    border: 6px solid transparent;
    border-left: 12px solid #fff;
    transform: rotate(22.5deg);
  }
  main .contents__wrapper .contents .user-msg {
    width: 10%;
  }
  main .input__wrapper {
    width: 100%;
    margin: 8vw auto 0;
  }
  main .input__wrapper h2 {
    font-size: 3.2vw;
  }
  main .input__wrapper input {
    width: 100%;
    margin-top: 2.6666666667vw;
  }
  main .input__wrapper .btn__outer {
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 2.6666666667vw;
  }
  main .input__wrapper .btn__outer .btn {
    padding: 0;
    display: block;
    width: 21.3333333333vw;
    height: 21.3333333333vw;
    border: transparent;
    background-color: lightblue;
    border-radius: 50%;
    font-size: 10.6666666667vw;
    color: #fff;
  }
  main .input__wrapper .btn__outer .restart-btn {
    font-size: 4.2666666667vw;
  }
}
@media screen and (min-width: 750px) {
  main {
    width: 70%;
    overflow-x: hidden;
  }
  main .contents__wrapper .title__outer {
    padding: 15px;
  }
  main .contents__wrapper .title__outer h1 {
    font-size: 24px;
  }
  main .contents__wrapper .contents {
    width: 95%;
    height: 70vh;
    padding: 2.5%;
  }
  main .contents__wrapper .contents .msg {
    padding: 15px;
    width: 65%;
    margin-left: 90%;
    font-size: 16px;
  }
  main .contents__wrapper .contents .msg p:nth-of-type(2) {
    margin-top: 15px;
  }
  main .contents__wrapper .contents .msg:not(.msg:first-of-type) {
    margin-top: 15px;
  }
  main .contents__wrapper .contents .msg:not(.msg:nth-of-type(even))::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -32px;
    border: 18px solid transparent;
    border-right: 24px solid #fff;
    transform: rotate(-22.5deg);
  }
  main .contents__wrapper .contents .msg::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 51px;
    border: 12px solid transparent;
    border-left: 18px solid #fff;
    transform: rotate(22.5deg);
  }
  main .contents__wrapper .contents .user-msg {
    width: 5%;
  }
  main .input__wrapper {
    width: 100%;
    margin-top: 20px;
  }
  main .input__wrapper input {
    margin-top: 10px;
  }
  main .input__wrapper .btn__outer {
    margin-top: 10px;
    -moz-column-gap: 60px;
         column-gap: 60px;
    justify-content: center;
  }
  main .input__wrapper .btn__outer .btn {
    width: 150px;
    height: 150px;
    font-size: 80px;
    opacity: 1;
    transition: 0.3s;
    cursor: pointer;
  }
  main .input__wrapper .btn__outer .btn:hover {
    opacity: 0.7;
    transition: 0.3s;
  }
  main .input__wrapper .btn__outer .restart-btn {
    font-size: 32px;
  }
}